//
// Horoscope box HP
//

.horoscope-carousel {
  position: relative;
  padding: 0 5% 15px;

  @media (min-width: $screen-xs-min) {
    padding: 0 3% 20px;
  }
  @media (min-width: $screen-md-min) {
    padding: 0 2% 25px;
  }
  .owl-horoscope-carousel {
    position: relative;
    padding: 0;
  }

  h3 {
    font-family: $fontFamilyPromotionBadge;
    font-size: 27px;
    font-weight: normal;
    margin: 0 0 10px;
    padding: 15px 0 0;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: $screen-xs-min) {
      font-size: 32px;
      font-weight: normal;
      margin: 0 0 25px;
      padding: 25px 0 0;
    }
    @media (min-width: $screen-md-min) {
      font-size: 41px;
    }
  }

  .sign {
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    padding: 10px 0;
    @media (min-width: $content-single-col-break) {
      font-size: 14px;
    }
    strong {
      display: block;
      font-weight: normal;
      font-family: $fontFamilyMainMenu;
      margin: 0 0 4px;
    }
    .dates {
      display: inline-block;
      padding: 5px 10px;
      color: #878787;
      letter-spacing: 1px;
      border-top: 1px solid #000000;
    }
  }
  .owl-prev, .owl-next {
    position: absolute;
    top: 25%;
    padding: 0;
    background: none;
    transition: all 0.5s linear;

    .fa {
      font-size: 22px;
      line-height: 1;
      color: #888888;

      @media (min-width: $screen-xs-min) {
        font-size: 34px;
      }
      @media (min-width: $screen-md-min) {
        font-size: 40px;
      }
      &:hover {
        color: #111111;
      }
    }

    &:hover {
      padding: 0;
    }
  }
  .owl-prev {
    left: -18px;
    padding-left: 3px;
    @media (min-width: $screen-xs-min) {
      left: -22px;
    }
    @media (min-width: $screen-md-min) {
      left: -25px;
    }
  }
  .owl-next {
    right: -18px;
    padding-right: 3px;
    @media (min-width: $screen-xs-min) {
      right: -22px;
    }
    @media (min-width: $screen-md-min) {
      right: -25px;
    }
  }

}